html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Tajawal', sans-serif;
    overflow: hidden;
}

/*
    Main styles
 */

.main {
    width: 100%;
    height: 100%;
    background: url("images/main-bg.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #ffffff;
    position: relative;
}

.main .main__wrapper {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.31);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
}

.main .main__logo {
    margin-bottom: 15px;
}

.main .main__subtitle {
    font-size: 1.5rem;
    margin: 0;
    color: rgba(255, 255, 255, 0.8);
}

/*
    Header styles
 */
header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 200;
    width: 100%;
}

header .header__logo {
    text-decoration: none;
}

header .header__title {
    font-size: 1rem;
    margin: 30px;
    color: #ffffff;
}

/*
    Navigation styles
 */

.nav {
    display: inline-block;
    list-style: none;
    position: relative;
    margin: 0 15px;
}

.nav .nav__item {
    display: inline-block;
    padding: 30px 15px;
    color: rgba(255, 255, 255, 0.8);
    transition: 0.3s ease;
}

.nav .nav__item:hover {
    cursor: pointer;
    color: #ffffff;
    text-shadow: 0 0 20px white;
}