html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Tajawal', sans-serif;
    overflow: hidden;
}

div {
    box-sizing: border-box;
}

.viewport {
    height: 100%;
    width: 100%;
    overflow-y: auto;
}

/*
    Main styles
 */

.main {
    width: 100%;
    height: 100vh;
    background: url("images/main-bg.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    color: rgba(255, 255, 255, 0.8);
}

.main .main__wrapper {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.31);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
}

.main .main__logo {
    margin-bottom: 15px;
}

.main .main__subtitle {
    font-size: 1.5rem;
    margin: 0;
}

/*
    Header styles
 */
header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 200;
    width: 100%;
}

header .header__logo {
    text-decoration: none;
}

header .header__title {
    font-size: 1rem;
    margin: 30px;
    color: #ffffff;
}

/*
    Navigation styles
 */

.nav {
    display: inline-flex;
    list-style: none;
    position: relative;
    margin: 0 15px;
    line-height: 1rem;
}

.nav .nav__item {
    display: inline-flex;
    padding: 30px 15px;
    color: rgba(255, 255, 255, 0.8);
    transition: 0.3s ease;
    line-height: 1rem;
    align-items: center;
}

.nav .nav__item:hover {
    cursor: pointer;
    color: #ffffff;
    text-shadow: 0 0 20px white;
}

.nav .nav__item.nav__item--icon {
    align-items: flex-start;
}

.nav .nav__icon {
    width: 1rem;
    height: 1rem;
}

/*
    Modules styles
 */

.modules {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    background: rgba(106, 24, 133, 0.18);
    color: #555;
    padding: 15px;
}

.modules .modules__item {
    width: 30%;
    background: #ffffff;
    padding: 15px;
    margin-bottom: 15px;
    display: flex;
    flex-flow: column wrap;
    border-left: 5px solid #6A1885;
}

.modules .modules__title {
    font-family: 'Roboto Mono', monospace;
    font-size: 1.2rem;
    margin-bottom: 15px;
    color: #6A1885;
}